---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <h2>Contacto</h2>
  <p>Escríbenos para más información 📩</p>
</MainLayout>
