<footer class="footer">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <p>
    Descubre la magia de los andes. Ropa de alpaca, carteras de cuero y
    accesorios hechos a mano por artesanos peruanos.
  </p>
  <h4>
    _______________________________________________________________________________
  </h4>
  <h3>© 2026 Artesanías Killa. Todos los derechos reservados.</h3>
</footer>

<style>
  .footer {
    background: #1d1d1d;
    padding: 1rem;
    text-align: center;
    color: white;
  }
</style>
